span{
    padding: 8px 8px 5px 20px;
    font-size: 20px;
    font-family: monospace;
}
.fa{
    margin-left: 15px;
}
.remove-item{
    cursor: pointer;
    font-family: cursive;
    margin-left: 14px;
}
.remove-item:hover{
 color: black;
}
.todoItem{
    margin: 15px;
}
.hideTodo{
    display: none !important;
}